.orgchart, .orgchart-legend {
  font-family: "Segoe UI", Arial, sans-serif;      
}

.orgchart {
  -webkit-user-select: none;       
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  width: 100%;
  height: 700px;
  background-color: #EEE;
  overflow: auto;
  cursor: pointer;
  cursor: -webkit-grab;  
}

.orgchart:active {
  cursor: pointer;
  cursor: -webkit-grabbing;
}

.google-visualization-orgchart-linenode {
  border-width: 2px !important;
  border-color: #00458c !important;
}

.google-visualization-orgchart-table {
  padding: 48px;
}

.orgchart-node, .orgchart-legend {
  -webkit-user-select: text;       
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;

  cursor: auto;  

  background-image: none;
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
  transition: box-shadow 0.5s;
}

.orgchart-node {
  padding: 12px !important;
}

.orgchart-node:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.orgchart-node p, .orgchart-legend p {
  font-size: 20px;
  font-weight: 400;
}

.orgchart-node p:nth-last-child(2) {
  /* font-size: 20px; */
}

.orgchart-node.orgchart-node-selected {
  background-color: rgb(255, 255, 141);
}

.orgchart-legend.disabled {
  opacity: 0;
}

.orgchart-legend {
  pointer-events: none;
  position: absolute;
  right: 32px;
  bottom: 32px;
  width: 400px;
  display: flex;
  flex-direction: row;
  padding: 0;

  transition: opacity 0.3s;
}
.orgchart-legend p {
  padding: 12px;
  margin: 0;
}

.orgchart-legend img {
  width: 120px;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  /* object-fit: contain; */
}